body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
:root {
    --main-color: #ebeef5;
    --secondary-color: #02577a;
    --grey-color: #c4c4c4;
    --nav-bg-color: #F7F6FF;
    --white-color: #fff;
}
body {
    font-family: 'Montserat', sans-serif;
    background-color: var(--main-color);
}
a {
    text-decoration: none;
    color: inherit;
}