.nav {
  width: 84px;
  max-width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--nav-bg-color);
  transition: ease-out 0.5s;
  

}

.nav:hover {
  width: 200px;
  max-width: 200px;
  height: 100%;
  display: flex;
  position: fixed;
  background-color: var(--nav-bg-color);
  transition: ease-in 0.5s;

}

.nav .logo {
  width: 60px;
  height: 30px;
  padding: 30px 12px 20px 12px;
  transition: ease-out 0.5s;
}

.nav:hover .logo {
  width: 60px;
  height: 30px;
  padding: 30px 70px 20px 70px;
  transition: ease-in 0.5s;
}

.nav hr {
  width: 65%;
  height: 0px;
  align-self: center;
  border: 2px solid var(--grey-color);
}

.nav .nav-btn {
  height: 50px;
  margin: 0px 0px 5px 10px;
  display: flex;
}
.nav .nav-btn.active {
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}

.nav .icon {
  width: 22px;
  height: 22px;
  margin: 14px 23px 14px 20px;
}

.nav a {
  visibility: hidden;
  transition-delay: 0.15s;
  
}
.nav:hover a {
  visibility: visible;
  font-size: 16px;
  font-weight: 300;
  padding-top: 17px;
  color: var(--grey-color);
  transition-delay: 0.4s;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .nav-btn:first-of-type {
  margin-top: 10px;
}

.nav .nav-btn:last-of-type .icon {
  width: 34px;
  margin: 14px 15px 14px 15px;
}

.foot {
  width: 300px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 9px;
  text-align: center;
  color: var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
  padding: 5px 0;


}